/********** Template CSS **********/
:root {
    --primary: #06bbcc;
    --light: #f0fbfc;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 22px;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/contact-us-map.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-2 {
    background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/cat-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

/*** Service ***/
.service-item {
    background: var(--light);
    transition: 0.5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: 0.5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

/*** Team ***/
.team-item img {
    transition: 0.5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .BITVs-mb {
        display: none;
    }

    .w-md-0 {
        width: 0 !important;
    }

    .bitvs-logo {
        width: 24rem;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 70%;
        right: 0;
        padding-top: 7px;
    }

    .bg-opacity-logo {
        background: rgba(255, 255, 255, 0.444);
    }

    .my-img-width {
        width: 22rem;
    }

    .pcview {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    @viewport {
        zoom: 1.0 !important;
        user-zoom: fixed !important;
    }

    body {
        overflow-x: hidden !important;
        overscroll-behavior-x: none !important;
    }

    .owl-nav {
        display: none !important;
    }

    .owl-prev {
        display: none !important;
    }

    .owl-next {
        display: none !important;
    }

    .BITVs-pc {
        display: none;
    }

    .BITVs-mb {
        font-size: 1.1em;
    }

    .bitvs-logo {
        width: 12rem;
        margin-top: 1rem;
        margin-left: -8px;
    }

    /*** Section Title ***/
    .section-title {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1em;

    }

    .section-title::before {
        display: none;
    }

    .section-title::after {
        display: none;
    }

    .section-title.text-start::before {
        display: none;
    }

    .section-title.text-start::after {
        display: none;
    }
}

.glowing-button {
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #f6f6f8;
    }
    50% {
        box-shadow: 0 0 20px #d3d4d7, 0 0 30px #ffffff;
    }
    100% {
        box-shadow: 0 0 20px #e2e7ea;
    }
}

/* My own CSS */
.partner-ship-logo {
    width: 10rem;
}

.elroi-text {
    font-size: 0.85em;
}

li::marker {
    color: #06bbcc;
}

.heading-section .subheading {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #4986fc;
    text-transform: uppercase;
}

.heading-section h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
}

.heading-section h2 span {
    font-weight: 400;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9);
}

.heading-section.heading-section-white h2 {
    font-size: 40px;
    color: #fff;
}

.heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
}

.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.project-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: 0 10px 23px -8px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 10px 23px -8px rgba(0, 0, 0, 0.11);
    box-shadow: 0 10px 23px -8px rgba(0, 0, 0, 0.11);
}

.project-wrap .img {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
}

.project-wrap .img .price {
    position: absolute;
    bottom: -8px;
    left: 20px;
    display: inline-block;
    background: #4986fc;
    color: #fff;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 500;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project-wrap .img .price:after,
.project-wrap .img .price:before {
    position: absolute;
    bottom: 0;
    content: "";
}

.project-wrap .img .price:after {
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #0456f4 transparent transparent transparent;
}

.project-wrap .img .price:before {
    width: 0;
    left: -8px;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #0456f4 transparent transparent;
}

.project-wrap.hotel .img {
    height: 320px;
}

.project-wrap .text {
    width: 100%;
    position: relative;
    border-top: none;
}

.project-wrap .text .advisor {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.project-wrap .text .advisor span {
    color: #4986fc;
}

.project-wrap .text .days {
    font-size: 12px;
    color: #4986fc;
    text-transform: uppercase;
    font-weight: 700;
}

.project-wrap .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.project-wrap .text h3 a {
    color: #000000;
}

.project-wrap .text ul {
    margin: 0;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.project-wrap .text ul li {
    display: inline-block;
    color: #b3b3b3;
    font-weight: 600;
}

.project-wrap .text ul li span {
    color: #4986fc;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1;
}

.project-wrap .text ul li.price {
    color: #4986fc;
}

.prices-duration {
    color: #8f8989;
}

.my-font-size {
    font-size: 1.4em;
}

.td-font,
.th-font {
    font-size: small;
}


/*----------- Form CSS------------------------------*/
/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 40px;
    width: 40px;
    margin: 0 3px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    padding: 5px;
    font-size: 9px;
    color: white;
    text-align: center;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

body {
    box-sizing: border-box;
}

.original-price {
    text-decoration: line-through;
    color: gray;
    font-size: 0.8em;
}

/* Success Start*/
.wrapper-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper-2 {
    padding: 30px;
    text-align: center;
}

.success_title {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    letter-spacing: 3px;
    color: #5892FF;
    margin: 0 0 20px;
}

.wrapper-2 .success_p {
    margin: 0;
    font-size: 1.3em;
    color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.go-home {
    color: #fff;
    background: #5892FF;
    border: none;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.footer-like {
    margin-top: auto;
    background: #D7E6FE;
    padding: 6px;
    text-align: center;
}

.footer-like .success_p {
    margin: 0;
    padding: 4px;
    color: #5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.footer-like .success_p .success-a {
    text-decoration: none;
    color: #5892FF;
    font-weight: 600;
}

@media (min-width: 360px) and (max-width: 480px) {
    .glowing-button {
        position: absolute !important;
        top: 50%;
        right: 0 !important;
        margin-right: 35px !important;
        margin-top: 75px !important;
        transform: rotate(-6deg) !important;
    }

    .success_title {
        font-size: 4.5em;
    }

    .go-home {
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }

    .wrapper-1 {
        height: initial;
        max-width: 620px;
        margin: 50px auto 0;
        box-shadow: 0 0 0 8px rgba(88, 146, 255, 0.2);
    }

}

/* Success End*/

/* video background */
.video-bg {
    width: 100%;
}



/* Animated text start */
@media (min-width: 360px) and (max-width: 480px){
    .animated-text-mobile{
        font-size: 1.7em;
    }
}


@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");

}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}